$header-height: 56px;
$footer-height: 37px;
$calculating-form-width: 320px;
$calculation-processor-height: 52px;
$calculation-processor-sp-height: 84px;

$flash-message-z-index: 99;
$modal-z-index: 25;
$header-user-dropdown-z-index: 20;
$header-dropdown-overlay-z-index: 15;
$header-z-index: 10;
$tooltip-z-index: 5;
